.container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 100%;
    height: 600px;
    padding: 10px;
    border: solid 1px rgb(77, 76, 76);

  }
  
  .item {
    background-color: #4992ff;
    border: 4px solid #329aca;
    padding: 10px;
    color: white;
    border-radius: 5px;
    height: 400px;
    width: 200px;

    text-align:center;
  }